header {
  font-family: 'Courier New', Courier, monospace;
  margin: 0 auto;
  display: grid;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: sans-serif;
  margin: 0 auto;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.leftUI{
  left: 10px;
  position: relative;
  border: 5px solid black;
  margin: 0 auto;
  height:100%;
  width: 150px;
  top: 30%;
  bottom: 30%;

}

.rightUI{
  position: relative;
  right: 10px;
  border: 5px solid black;
  margin: 0 auto;
  height:100%;
  width: 150px;
  top: 30%;
  bottom: 30%; /* Why does it reach the bottom? */
}

.playArea{
  display: flex;
  border: 2px;
  height: 100%; /* Why DOESN'T this reach the bottom */
  width: 100%;
 
  background: blue;

}

.yellowSquare{
  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 150px;
  position: relative;
  top: 10%;
  
}